@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

:root {
  --btn-text-case: none;
}
